<form id='_bsp-payment' name='payment' ng-submit="book()" novalidate>
	<fieldset class='reservation-details'>
		<legend>Your Reservation Details</legend>
		<div class="course-details">
			<span class="name">{{course.courseName}}</span>
			<span class="office">{{course.officeName}}</span>
			<span class="date-info">
				{{course.startDate | date:"EEEE M/d/yy 'from' h:mm a" }} to {{course.endDate | date:'h:mm a'}}
			</span>
			<span class="attendees">{{attendees}}</span>
			<span class="email">{{email}}</span>
			<div class="price">
				<span class="attendees">{{attendees}}</span>
				<span class="multiply">&times;</span>
				<span class="cost">{{course.cost | currency:"$"}}</span>
				<span class="equals">=</span>
				<span class="total">{{course.cost * attendees | currency:"$"}}
			</div>
		</div>

	</fieldset>
	<fieldset class='payment-options'>
		<legend>How Would You Like to Pay?</legend>
		<p>You can pay now with a credit card or pay later with cash.</p>
		<label class="radio inline">
			<input type="radio" value="cash" ng-model='form.paymentMethod'>
			Cash - pay later
		</label>
		<label class="radio inline">
			<input type="radio" value="credit_card" ng-model='form.paymentMethod'>
			Credit&nbsp;Card - pay now
		</label>
		<label class="radio inline">
			<input type="radio" value="coupon" ng-model='form.paymentMethod'>
			Coupon - pay now
		</label>
	</fieldset>
	<div id='payment-details' ng-switch on="form.paymentMethod">
		<section id="pay-cash" ng-switch-when="cash">
			<fieldset class="payment-options">
				<h4>Pay by Cash</h4>
				<p class="text-warning">
					Please be prepared to pay course fees by cash or check when arriving to class.
				</p>
				<div class="payment-details">
					<div class="due">
						<div class="due-now" for="due-now">
							Total Due Now
						</div>
						<div class="total" id="cash-due-now" name="due-now">{{0 | currency:"$"}}</div>
					</div>
				</div>
				<div class="personal-details">
					<div class="control-group name" ng-class="{'error': !payment.name.$valid && submitted}">
						<label for="cash-name">Name</label>
						<input id="cash-name" name="name" ng-model="name" placeholder="Your Name" type="text" required>
						<span class="help-inline" ng-hide="payment.name.$valid || !submitted">Please enter your name.</span>
					</div>
					<div class="control-group phone" ng-class="{'error': !payment.phone.$valid && submitted}">
						<label for="cash-telephone">Telephone</label>
						<input id="cash-telephone" name="phone" ng-model="telephone" placeholder="(617) 555 - 1212" type="tel" required>
						<span class="help-inline" ng-hide="payment.phone.$valid || !submitted">Please enter a valid phone number.</span>
					</div>
				</div>
			</fieldset>
		</section>
		<section id="pay-credit_card" ng-switch-when="credit_card">
			<fieldset class="payment-options">
				<h4>Pay by Credit Card</h4>
				<div class="payment-details">
					<div class="due">
						<div class="due-now">Total Due Now</div>
						<div class="total" id="credit-card-due-now" name="due-now">{{course.cost * attendees | currency:"$"}}</div>
					</div>
				</div>
				<div id="credit-card-details" class="control-group name" ng-class="{'error': !payment.name.$valid && submitted}">
					<label for="credit-card-name">Name (as it appears on card)</label>
					<input class="input-xlarge" id="credit-card-name" ng-model="form.name" placeholder="Your Name" type="text" required name="name">
					<span class="help-inline" ng-hide="payment.name.$valid || !submitted">Please enter the name on the credit card.</span>
				</div>
				<div class="control-group" ng-class="{'error': !payment.creditCardNumber.$valid && submitted}">
					<label for="credit-card-number">Card Number</label>
					<input autocomplete="off" class="input-xlarge" id="credit-card-number" ng-model="form.paymentDetails.creditCardNumber" size="20" type="text" payments-format="card" payments-validate="card" required name="creditCardNumber" payments-type-model="type" ng-class="form.paymentDetails.type">
					<span class="help-inline" ng-hide="payment.creditCardNumber.$valid || !submitted">Please enter a valid credit card number.</span>
					<div class="acceptedCards">
						<img alt="Visa" class="fsCreditCardLogo" src="//dts8zy8jzywwi.cloudfront.net/37/assets/visa.png">
						<img alt="MasterCard" class="fsCreditCardLogo" src="//dts8zy8jzywwi.cloudfront.net/37/assets/mastercard.png">
						<img alt="American Express" class="fsCreditCardLogo" src="//dts8zy8jzywwi.cloudfront.net/37/assets/amex.png">
						<img alt="Discover" class="fsCreditCardLogo" src="//dts8zy8jzywwi.cloudfront.net/37/assets/discover.png">
					</div>
				</div>
				<div class="control-group creditCardExp" ng-class="{'error': !payment.creditCardExp.$valid && submitted}">
					<label class="required" for="credit-card-exp-month">Expiration Date</label>
					<input class="input-small" name="creditCardExp" id="credit-card-exp" placeholder="MM/YY" ng-model="form.paymentDetails.creditCardExp"  type="text" payments-format="expiry" payments-validate="expiry"/>
					<span class="help-inline" ng-hide="payment.creditCardExp.$valid || !submitted">Please enter a valid expiration date.</span>
				</div>
				<div class="control-group creditCardCCV" ng-class="{'error': !payment.creditCardCCV.$valid && submitted}">
					<label class="required" for="credit-card-ccv">Security Code</label>
					<input class="input-small" id="credit-card-ccv" maxlength="4" ng-model="form.paymentDetails.creditCardCCV" type="tel" required  payments-format="cvc" payments-type-model="type"payments-validate="cvc" name="creditCardCCV">
					<span class="help-inline" ng-hide="payment.creditCardCCV.$valid || !submitted">Please enter a valid security code (found on the back of your credit card).</span>
				</div>
			</fieldset>
		</section>
		<section id="pay-coupon" ng-switch-when="coupon">
			<fieldset class="payment-options">
				<h4>Pay by Coupon</h4>
				<div class="payment-details">
					<div class="due">
						<div class="due-now" for="due-now">
							Total Due Now
						</div>
						<div class="total" id="cash-due-now" name="due-now">{{0 | currency:"$"}}</div>
					</div>
				</div>
				<div class="personal-details">
					<div class="control-group name">
						<label class="required" for="coupon-name">Name</label>
						<input id="coupon-name" ng-model="name" placeholder="Your Name" type="text" required>
					</div>
					<div class="control-group phone">
						<label class="required" for="coupon-telephone">Telephone</label>
						<input id="coupon-telephone" ng-model="phone" placeholder="(617) 555 - 1212" type="tel" required>
					</div>
					<div class="control-group">
						<label class="required" for="coupon-code">Coupon Code</label>
						<input id="coupon-code" ng-model="coupon" placeholder="Coupon Code" type="text" required>
					</div>
				</div>
			</fieldset>
		</section>
	</div>
	<fieldset>
		<button ng-click="navigate('/reservation/'+course.id)" class="btn btn-info">
			Previous
		</button>
		<button class="btn btn-primary" type="submit">
			Complete Your Registration
		</button>
	</fieldset>
</form>